# Dependencies
node_modules/
.expo/
dist/
web-build/
target/
build/
bin/
out/

# Logs
*.log
npm-debug.*
yarn-debug.*
yarn-error.*

# OS files
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Environment
.env
.env.local
.env.*.local

# Mobile specific
AlertMeMobile/ios/
AlertMeMobile/android/
AlertMeMobile/.expo/
